/* h1{
    color: orange;
    text-align: center;
}
nav.ab{
    background-color: black;
}
.ab  a{
    text-decoration: none;
    color:greenyellow;
    font-size: 15px;
    padding: 6px 6px;
   text-align: center;
}
  .ab a:hover{
     border-radius: 1px;
     background-color:white;  

} */
*{
    padding:0;
    margin:0;
    
}

h1{
    position: relative;

    top: 30%;
    text-transform: uppercase;
    color: orange;
    text-align: center;
    font-weight: bolder;;
    
}
.box{
border:1 px solid transparent;
background-color:black;
height: 30px;
}
nav.ab{
background-color:black;
}
ul{
    
    text-align: center;
   
}
 .ab ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 35px;
text-align: center;
font-size: 16px;
position: relative;

}
 .ab ul li a{
    text-decoration: none;
    color:orange;
    font-size: 20px;
    padding: 6px 6px;
   
}
  .ab ul li a:hover{
     border-radius: 1px;
     background-color:white;  

}

.cover img{
    background-size: cover;
    height: 500px;
    width: 100%;
}
/* p {
    font-size: 20px;
    color:black
  } 
  
h2{
    font-size: 25px;
    color: black;
    
} */
/* about us*/
h2{
    text-align: center;
    color: yellowgreen;
    
}
hr.qw{
    font-weight: bolder;
}
h2.as{
    color: yellowgreen;
    
    text-align: center;
}
li{
    color: red;
    font-weight: bolder;
 }
/*
img{
    position: absolute;
    left: 10%;
    top: 100%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 4px;
} */



/*footer*/
footer{
    background:grey;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    top: 10px;
    
}
.footer-bottom{
    font-size: 14px;
    padding: 20px 0;
    text-align:center ;

}
.footer-bottom p{
    font-size: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* contct us*/
h2.er{
    
    color: blue;
    
}
p{
    font-size: 20px;

}


